

/* general css settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Inter-Tight";
    src: url(./static/InterTight-Regular.ttf);
}

@font-face {
    font-family: "Inter-Tight-Bold";
    src: url(./static/InterTight-Bold.ttf)
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/* classes to set fonts */
.inter-tight {
    font-family: "Inter-Tight";
}

.inter-tight-bold {
    font-family: "Inter-Tight-Bold";
}

.font-14 {
    font-size: 14px;
}

.font-32 {
    font-size: 32px;
}

.font-24 {
    font-size: 24px;
}

.font-64 {
    font-size: 64px;
}

.font-100 {
    font-size: 100px;
}

/* classes to set colours */
.bg-5c16c5 {
    background-color: #5C16C5;
}

.bg-9146ff {
    background-color: #9146FF;
}

.bg-e5e5e5 {
    background-color: #E5E5E5;
}

/* classes to set heights */

.height-400 {
    height: 500px;
}

.height-30 {
    height: 30px;
}

.height-100 {
    height: 100px;
}

.height-300 {
    height: 300px;
}

.sm-vh100-200 {
    height: 100vh;
}


/* classes to set widths */

.width-25 {
    width: 30px;
}

.width-100 {
    width: 100px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-20 {
    max-width: 20px;
    max-height: 20px;
}

.max-width-200 {
    max-width: 200px;
}

.max-height-60 {
    max-height: 60px;
}


.max-width-100p {
    max-width: 100%;
}

.sm-w25-100 {
    width: 25%;
}

.s-w75-100 {
    width: 75%;
}
/* classes to set positions */

.align-center {
    display: flex;
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    align-items: flex-end;
}

.margin-left-40 {
    margin-left: 320px;
}
.margin-5vw {
    margin-inline: 10vw;
}

.sm-margin-s48 {
    margin-left: 48px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;

}

.padding-top-5per{
    padding-top: 5%;
}

.padding-top-2per {
    padding-top: 2%;
}

.padding-left-2per{
    padding-left: 2%;
}

.padding-right-5per{
    padding-right: 5%;
}

.padding-left-5per{
    padding-left: 5%;
}

.padding-left-15per {
    padding-left: 15% !important;
}

.margin-left-15per {
    margin-left: 15% !important;
}

/* design related classes */

.display-none {
    display: none;
}

.background-white {
    background-color: #f7f9fb;
}







/* specific element classes */

.title {
    padding-left: 5%;
    padding-top: 5%;
    font-size: 2.5vmax;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
   
    
}

.sm-noscroll {
    overflow-y: hidden;
}

.circle {
    border-radius: 50%;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

/* animation classes */



.stats:hover {
    color: lightgray;
}

button:hover {
    background-color: lightgray !important;
}

.animated-twitch {
    width: 15%;
    visibility: hidden;
    padding-left: 0.5%;
    
}

.animated-quiz {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300vw;
    height: 300vh;
}

.animated-icons {
    animation: bobbing 2s ease-in-out infinite alternate;
    visibility: hidden;
}

.animated-icons2 {
    animation: bobbing2 3s ease-in-out infinite alternate;
    visibility: hidden;
}

.animated-icons3 {
    animation: bobbing3 2s ease-in-out infinite alternate;
    visibility: hidden;
}

@keyframes bobbing {
    100% {transform: translateY(-12%);}
}

@keyframes bobbing2 {
    100% {transform: translateY(-15%);}
}

@keyframes bobbing3 {
    20% {transform: translateY(0%)}
    100% {transform: translateY(-15%);}
}



/* RESPONSIVENESS */

/* Makes search page responsive up to 320px */
@media only screen and (max-width: 800px) {
    .col-md-6 {
      width: 100vw !important;
      margin-right: 20%;
    }
    .title {
        font-size: 4vmax;
        padding-left: 8%;
    }
    .font-32 {
        font-size: 25px;
    }
    .rounded-circle {
        max-width: 70px;
    }
    .padding-left-15per {
        padding-left: 12%;
    }
}

@media only screen and (max-width: 600px) {
    .font-32 {
        font-size: 25px;
    }
    .rounded-circle {
        max-width: 70px;
    }
    .padding-left-15per {
        padding-left: 12%;
    }
}

/* Makes the login page responsive up to 320px */

@media only screen and (max-width: 1425px) {
    .col-7 {
        position: relative;
    }
   

    .login-image {
        display: none;
    }
    .font-64 {
        font-size: 3rem;
    }
    .d-flex {
        display: flex;
    }
    .background-image {
        background-image: url("./images/xqc.jpg");
       
        background-size: cover;
        z-index: -1;
    }
    
   
}

@media only screen and (max-width: 525px) {
   
    #login-page .rounded-circle {
        max-width: 70px;
    }
    #login-page .padding-left-15per {
        padding-left: 12%;
    }
    #login-page .font-64{
      font-size: 2rem;
      padding-left: 13px;
    }
    #login-page .font-32{
      font-size: 20px;
    }
    #login-page .twitch-icon {
        width: 50px !important;
        
    }
    #login-page input {
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px) {
   
    #login-page input {
        font-size: 11.5px;
    }

    #login-page .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    #login-page .px-5 {
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
    #login-page .ms-4 {
        margin-left: 0.7rem!important;
    }

}

@media only screen and (max-width: 768px) {
    .sm-vh100-200 {
        height: 200vh;
    }
    
    .remove {
        display: none;
    }

    .font-100 {
        font-size: 50px;
    }

    .font-32 {
        font-size: 20px;
    }
    
    .height-400 {
        height: 200px;
    }

    .sm-font-12 {
        font-size: 12px;
    }

    .sm-font-16 {
        font-size: 16px;
    }

    .sm-font-28 {
        font-size: 20px;
    }

    .sm-margin-s48 {
        margin-left: 0px;
    }

    .sm-column {
        flex-direction: column;
    }

    .sm-w25-100 {
        width: 100%;
    }

    .sm-w75-100 {
        width: 100%;
    }

    .sm-w100 {
        width: 100vw;
    }

    .sm-noscroll {
        overflow-y: scroll;
    }
    
}











